@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-ternary
    );
}
main{
    width: 90%;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}
.menu{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu ul{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: var(--color-font-secundary);
}
section{
    width: 100%;
    height: 85vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: var(--color-font);
    box-shadow: var(--color-shadow-transparent);
    overflow-y: scroll;
}
section .title{
    font-size: 20px;
    width: 100%;
}
section .content{
    width: 100%;
    height: 77vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 20px;
}
.text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text h2{
    font-size: 15px;
    font-weight: 400;
}
.text div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-weight: 200;
    font-style: italic;
}
.text div button{
    background: var(--color-ternary);
    border-radius: 2px;
}
/* ******************************* */
.box, .box1, .box2, .box3, .box4{
    width: 90%;
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: var(--color-shadow-transparent);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: .2s ease;
}
.box{
    background-image: url(../storage/img/camiseta_argentina_pre.png);
}
.box:hover{
    background-image: url(../storage/img/camiseta_argentina.png);
    background-size: contain;
}
.box1{
    background-image: url(../storage/img/camiseta_boca_pre.png);
}
.box1:hover{
    background-image: url(../storage/img/camiseta_boca.png);
    background-size: contain;
}
.box2{
    background-image: url(../storage/img/camiseta_colombia_pre.png);
}
.box2:hover{
    background-image: url(../storage/img/camiseta_colombia.png);
    background-size: contain;
}
.box3{
    background-image: url(../storage/img/camiseta_madrid_pre.png);
}
.box3:hover{
    background-image: url(../storage/img/camiseta_madrid.png);
    background-size: contain;
}
.box4{
    background-image: url(../storage/img/camiseta_juve_pre.png);
}
.box4:hover{
    background-image: url(../storage/img/camiseta_juve.png);
    background-size: contain;
}
.box .text, .box1 .text, .box2 .text, .box3 .text, .box4 .text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    border-radius: 5px;
    background: var(--color-font);
}