@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    background: var(--color-ternary);
    overflow-y: scroll;
}
/* **************************** */
.menu{
    display: flex;
    width: 100%;
}
.menus{
    color: var(--color-secundary);
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-around;
    gap: 15px;
}
.menus a{
    text-decoration: none;
    color: var(--color-secundary);
}
.menus li{
    color: var(--color-secundary);
}
.menus a:hover{
    transition: 0.3s ease;
    scale: 1.2;
    color: var(--color-primary);
}
.open-menu{
    top: 20px;
    right: 20px;
    display: none;
    position: absolute;
    background: var(--color-primary);
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 10%;
}
.close-menu{
    top: 20px;
    right: 20px;
    display: none;
    position: absolute;
    width: 40px;
    font-size: 35px;
    height: 40px;
    border-radius: 10%;
    color: var(--color-primary);
}
#check{
    display: none;
}
/* ********************************** */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
header{
    display: grid;
    width: 90%;
    height: 3rem;
    padding-top: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    box-sizing: border-box;
}
header h2{
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: normal;
}
main section{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    width: 80%;
    align-items: center;
}
main section .text{
    width: 100%;
    display: flex;
    flex-direction: column;
}
main section .text h1{
    width: 100%;
    font-size: 4.5rem;
    font-weight: normal;
    color: var(--color-primary);
}
main section .text p{
    width: 100%;
    color: var(--color-secundary);
    font-size: 2rem;
    line-height: 35px;
}
main section .text button{
    margin-top: 2rem;
    width: max-content;
    font-size: 1.4rem;
    padding: .3rem .7rem;
    color: var(--color-secundary);
    background: var(--color-primary);
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: .5s ease;
}
main section .text button:hover{
    scale: 1.1;
}
main section .image{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
main section .image img{
    width: 80%;
}
/* ************************************** */

#About{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#About section{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}
#About section .about_image{
    width: 100%;
    display: flex;
    justify-content: center;
}
#About section .about_image img{
    width: 80%;
}
#About section .about_text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#About section .about_text h3{
    color: var(--color-primary);
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 15px;
}
#About section .about_text h1{
    width: 100%;
    color: var(--color-secundary);
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
    margin-bottom: 15px;
}
#About section .about_text p{
    width: fit-content;
    color: var(--color-secundary);
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 15px;
}
#About section .about_text button{
    margin-top: 2rem;
    width: max-content;
    font-size: 1.4rem;
    padding: .3rem .7rem;
    color: var(--color-secundary);
    background: var(--color-primary);
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: .5s ease;
}
#About section .about_text button:hover{
    scale: 1.1;
}
/* ******************************************** */

#Menu{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Menu section{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Menu section .menu_text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
#Menu section .menu_text h3{
    color: var(--color-primary);
    font-weight: normal;
    font-size: 15px;
}
#Menu section .menu_text h1{
    color: var(--color-secundary);
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    line-height: 27px;
}
#Menu section .menu_image{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px;
}
#Menu section .menu_image .menu_box{
    width: 100%;
    height: 51vh;
    background: var(--color-box);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Menu section .menu_image .menu_box img{
    width: 60%;
}
#Menu section .menu_image .menu_box h2{
    font-weight: normal;
    font-size: 20px;
}
#Menu section .menu_image .menu_box label{
    color: var(--color-primary);
    font-size: 14px;
}

/* ******************************************* */

#Service{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Service section{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Service section .service_text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
#Service section .service_text h3{
    color: var(--color-primary);
    font-weight: normal;
    font-size: 15px;
}
#Service section .service_text h1{
    color: var(--color-secundary);
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    line-height: 27px;
}
#Service section .service_items{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px;
}
#Service section .service_items .service_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Service section .service_items .service_box img{
    width: 60%;
}
#Service section .service_items .service_box h2{
    color: var(--color-primary);
}
#Service section .service_items .service_box p{
    color: var(--color-secundary);
    font-size: 16px;
    text-align: center;
}
/* ****************************************** */

#Learn{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Learn section{
    width: 85%;
    height: 55vh;
    background: var(--color-box);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Learn section h1{
    width: 40%;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}
#Learn section button{
    cursor: pointer;
    transition: .5s ease;
    width: max-content;
    font-size: 1rem;
    padding: .3rem .7rem;
    color: var(--color-secundary);
    background: var(--color-primary);
    border: none;
    border-radius: 1px;
}
#Learn section button:hover{
    scale: 1.1;
}

/* ********************************************** */

#Contact{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Contact section{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}
#Contact section .Contact_box{
    width: fit-content;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
}
#Contact section .Contact_box ul{
    list-style: none;
}
#Contact section .Contact_box_icons, .Contact_box{
    width: fit-content;
    color: var(--color-secundary);
}
#Contact section .Contact_box h2{
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    font-weight: normal;
    margin-bottom: 10px;
}
#Contact section .Contact_box ul li{
    transition: .5s ease;
}
#Contact section .Contact_box ul li:hover{
    scale: 1.1;
}
#Contact section .Contact_box ul li a:hover{
    color: var(--color-primary);
}
#Contact section .Contact_box_icons h2{
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    font-weight: normal;
    margin-bottom: 10px;
}
#Contact section .Contact_box_icons ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#Contact section .Contact_box_icons ul li{
    background: var(--color-primary);
    width: 19px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-other);
    border-radius: 50%;
}
#Contact section .Contact_box ul li a{
    color: var(--color-secundary);
    text-decoration: none;
}

/* **************************************** */

@media (width < 800px){
    .menus{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50vh;
        position: fixed;
        gap: 3%;
        top: -100%;
        left: 0;
        z-index: 100;
        background-color: var(--color-menu);
        transition:  0.4s ease;
    }
    .menus li a{
        color: var(--color-secundary);
        font-size: 30px;
    }
    .open-menu, .close-menu{
        display: block;
    }
    #check:checked~.menus{
        top: 0;
    }
    /* *************************************************** */
    main{
        height: 90vh;
    }
    main section{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    main section .text{
        align-items: center;
        text-align: center;
    }
    main section .text h1{
        font-size: 6.3vh;
    }
    main section .image img{
        width: 100%;
    }
    /* *********************************** */

    #About section{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        
    }
    #About section .about_image{
        order: 2;
        margin-top: 10px;
    }
    #About section .about_image img{
        width: 100%;
    }
    #About section .about_text{
        order: 1;
        align-items: center;
        text-align: center;
    }
    /* **************************************** */
    #Menu{
        margin-bottom: 100px;
    }
    #Menu section .menu_image{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    #Menu section .menu_image .menu_box{
        height: 35vh;
    }
    #Menu section .menu_text h3{
        margin-bottom: 20px;
    }
    /* ****************************************** */
    #Service section .service_items{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    /* *********************************** */
    #Learn{
        height: 50vh;
    }
    #Learn section{
        height: 20vh;
    }
    #Learn section h1{
        width: 90%;
    }
    /* **************************** */
    #Contact section{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 20px;
    }
    #Contact section .Contact_box_icons{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #Contact section .Contact_box_icons ul{
        width: 40%;
    }
}