<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-COMMERCE</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <main>
        <nav class="menu">
            <h1 class="title"><a href="/index.html">CampusShop</a></h1>
            <input type="checkbox" id="check">
            <ul class="menu1">
                <li><i class='bx bx-closet'></i><a href="/views/todos.html">Todos los productos</a></div></li>
                <li><i class='bx bxs-briefcase-alt-2' ></i><a href="/views/abrigos.html">Abrigos</a></li>
                <li><i class='bx bxs-t-shirt' ></i><a href="/views/camisetas.html">Camisetas</a></li>
                <li><i class='bx bxs-baguette'></i><a href="/views/pantalones.html">Pantalones</a></li>
                <label for="check" class="close-menu"><i class='bx bx-x' ></i></i></label>
            </ul>
            <label for="check" class="open-menu"><i class='bx bx-align-middle'></i></label>
            <ul class="carrito">
                <li><div class="caja"><a href="/views/carrito.html"><i class='bx bxs-cart'></i><h4>Carritos<span articulos="1"></span></h4></a></div></li>
            </ul>
            <h2><i class='bx bx-copyright' ></i>2024 camper</h2>
        </nav>
        <section>
            <div class="title">
                <h1>Carrito</h1>
            </div>
            <div class="ccontent">
                <div class="cbox">
                    <div class="text">
                        <div><img src="../storage/img/camiseta_argentina_pre.png"></div>
                        <h2>Camiseta 01</h2>
                        <input type="number" value="1">
                        <label>$ 350.000</label>
                        <a href="../views/carrito_vacio.html"><button><i class='bx bxs-trash'></i></button></a>
                    </div>
                </div>
            </div>
            <div class="opc">
                <a href="../views/carrito_vacio.html"><button>Vaciar Carrito</button></a>
                <div class="comprar">
                    <div>
                        <h4>Total</h4>
                        <label>$910.000</label>
                    </div>
                    <button>Comprar Ahora</button>
                </div>
            </div>
        </section>
    </main>
</body>
</html>